@charset "UTF-8";
/* 소제목 공용 */
h2{
	color: rgb(0, 74, 38)
}
table.type01 {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  /* border-left: 1px solid #ccc; */
  margin: 20px 10px;
  width: 1000px;
}

table.type01 thead th {
  padding: 10px;
  font-weight: bold;
  border-top: 1px solid #ccc;
  height: 30px;
  /* border-right: 1px solid #ccc; */
  border-bottom: 2px solid #ccc;
  background: rgb(231, 232, 226);
}

table.type01 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  height: 50px;
  line-height: 50px;
 /*  border-right: 1px solid #ccc; */
  border-bottom: 1px solid #ccc;
}
table.type01 td a {
	text-decoration: none;
	color: black;
}
