@charset "UTF-8";
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
html, body {
    margin: 0;
    padding: 0;
}
h2{
	color: rgb(0, 74, 38)
}
#content {
	
	width: 100%;
/* 	height: auto; */
	min-height: 600px; 
	overflow: auto;
}

#left {
	height: inherit;
	float: left;
	width: 260px;
	margin-left : 300px;

}

#center {
	height: inherit;
	width: 770px;
    float: left;
    margin-left : 20px;
}
.c-title {
	margin-top: 20px;
	width: 800px;
	height: 30px;
	border-top: 1px solid #ccc;
}

.b-title {
	width: 50%;
	float: left;
}

.btn_1 {
	width:50%;
	float: right;
	margin-top : 25px;
	text-align :right;
	/* float: right; */
}

/* #right{
	height: inherit;
	width: 20%;
	float: left;
}
 */

.btn {
	border: 1px solid #10412C;
	background-color: #10412C;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	margin-right: 5px;
}

.page-btn, .pbtn { /* 페이지, 이전/다음 버튼 */
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.pbtn{ /* 이전/다음 버튼 */
	color : #10412C;
	font-size:15px;
	font-weight: bold;
}

.page-btn { /* 페이지 버튼 */
	font-size:12px;
}

.page-btn.active { /* 선택된 페이지 버튼 */
	color : #10412C;
	font-weight: bold;
	font-size: 15px;
}