<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="BoardMapper">
  	<resultMap type="Board" id="boardResultMap">
  	<id property="boardNo" column="BOARD_NO"></id>
  	<result property="boardTitle" column="BOARD_TITLE"/>
  	<result property="boardContent" column="BOARD_CONTENT"/>
  	<result property="boardWriter" column="BOARD_WRITER"/>
  	<result property="boardDate" column="BOARD_DATE"/>
  	<result property="boardUpdatedate" column="BOARD_UPDATEDATE"/>
  	<result property="boardCount" column="BOARD_COUNT"/>
  	<result property="boardFilename" column="BOARD_FILENAME"/>
  	<result property="boardFilerename" column="BOARD_FILERENAME"/>
	<result property="boardFilepath" column="BOARD_FILEPATH"/>
	<result property="universityCode" column="UNIVERSITY_CODE"/>
	
  	</resultMap>
  	
  	
  	<select id="selectListCount" resultType="_int">
  		SELECT COUNT(*) FROM BOARD_TBL WHERE UNIVERSITY_CODE = #{universityCode} 
  		<if test="searchValue!=null">
			<if test="searchCondition.toString() == 'writer'">
				AND BOARD_WRITER LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchCondition.toString() == 'title'">
				AND BOARD_TITLE LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				AND BOARD_CONTENT LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				AND (BOARD_CONTENT LIKE '%' || #{searchValue} || '%'
				OR BOARD_TITLE LIKE '%' || #{searchValue} || '%'
				OR BOARD_WRITER LIKE '%' || #{searchValue} || '%')
			</if>
		</if>
  	  ORDER BY BOARD_NO DESC
  	</select>
  	
  	
  	<select id="selectAllBoard" resultMap="boardResultMap">
  		SELECT*FROM BOARD_TBL WHERE UNIVERSITY_CODE = #{universityCode} 
  		<if test="searchValue!=null">
			<if test="searchCondition.toString() == 'writer'">
				AND BOARD_WRITER LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchCondition.toString() == 'title'">
				AND BOARD_TITLE LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				AND BOARD_CONTENT LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				AND (BOARD_CONTENT LIKE '%' || #{searchValue} || '%'
				OR BOARD_TITLE LIKE '%' || #{searchValue} || '%'
				OR BOARD_WRITER LIKE '%' || #{searchValue} || '%')
			</if>
		</if>
  		 ORDER BY BOARD_NO DESC
  	</select>
  	
  	
  	<select id="selectOneBoard" resultMap="boardResultMap">
  		SELECT*FROM BOARD_TBL WHERE BOARD_NO = #{boardNo}
  	</select>
  	
  	
  	
  	
  	<insert id="insertBoard" parameterType="Board">
  	 	INSERT INTO BOARD_TBL VALUES(SEQ_BOARD_NO.NEXTVAL
  	 	, #{boardTitle}
  	 	, #{boardContent}
  	 	, #{boardWriter}
  	 	, default
  	 	, default
  	 	, default
  	 	, #{boardFilename}
  	 	, #{boardFilerename}
  	 	, #{boardFilepath}
  	 	, #{universityCode})  
  	</insert>
  	<update id="updateBoard">
  		UPDATE BOARD_TBL
  		SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}, BOARD_FILENAME = #{boardFilename}, 
  		BOARD_FILEPATH = #{boardFilepath}, BOARD_UPDATEDATE = DEFAULT
  		WHERE BOARD_NO = #{boardNo}
  	</update>
  	<delete id="deleteBoard">
  		DELETE FROM BOARD_TBL WHERE BOARD_NO = #{boardNo}
  	</delete>
  	
  	<resultMap type="BoardReply" id="boardReplyResultMap">
  	<id property="boardreplyNo" column="BOARDREPLY_NO"></id>
  	<result property="boardNo" column="BOARD_NO"/>
  	<result property="boardreplyWriter" column="BOARDREPLY_WRITER"/>
  	<result property="boardreplyContent" column="BOARDREPLY_CONTENT"/>
  	<result property="boardreplyDate" column="BOARDREPLY_DATE"/>
  	<result property="boardreplyUpdatedate" column="BOARDREPLY_UPDATEDATE"/>
  	</resultMap>
  	
  	<insert id="insertBoardReply" parameterType="BoardReply">
  	 INSERT INTO BOARDREPLY_TBL VALUES(SEQ_BOARDREPLY_NO.NEXTVAL, #{boardNo}, #{boardreplyWriter}, #{boardreplyContent}, #{boardreplyDate}, #{boardreplyUpdatedate})
  	</insert>
  	
  	<select id="selectAllBoardReply" resultMap= "boardReplyResultMap">
  		SELECT * FROM BOARDREPLY_TBL WHERE BOARD_NO = #{boardNo}
  	</select>
  	
  	<update id="updateBoardReply">
		UPDATE BOARDREPLY_TBL SET BOARDREPLY_CONTENT = #{boardreplyContent}
		 WHERE BOARD_NO = #{boardNo} AND BOARDREPLY_NO = #{boardreplyNo}
	</update>
  	
  	<delete id="deleteReply">
		DELETE FROM BOARDREPLY_TBL WHERE BOARDREPLY_NO=#{boardreplyNo} AND BOARD_NO=#{boardNo}
	</delete>
	
	<select id="selectUnivesityList" resultMap="universityResultMap">
		SELECT*FROM UNIVERSITY_TBL ORDER BY UNIVERSITY_COLLEGE
	</select>
	
	<resultMap type="university" id="universityResultMap">
		<id property="universityCode" column="UNIVERSITY_CODE"/>
		<result property="universityName" column="UNIVERSITY_NAME"/>
		<result property="universityCollege" column="UNIVERSITY_COLLEGE"/>
	</resultMap>
  	
  </mapper>