<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="CartMapper">
	<resultMap type="Lecture"  id="lectureResultMap">
		<id property="lectureNo" column="LECTURE_NO" />
		<result property ="professorNo" column= "PROFESSOR_NO" />
		<result property="universityCollege" column="UNIVERSITY_COLLEGE" />
		<result property="lectureDepartment" column="LECTURE_DEPARTMENT" />
		<result property="lectureName" column="LECTURE_NAME" />
		<result property="professorName" column="PROFESSOR_NAME" />
		<result property="lectureDivision" column="LECTURE_DIVISION" />
		<result property="lectureGrade" column="LECTURE_GRADE" />
		<result property="lectureRoom" column="LECTURE_ROOM" />
		<result property="lecturePeople" column="LECTURE_PEOPLE" />
		<result property="lectureTime" column="LECTURE_TIME" />
	</resultMap>
	
	<resultMap type="Cart" id="cartResultMap">
		<id property="cartNo" column="CART_NO"/>
		<result property="lectureNo" column="LECTURE_NO" />
		<result property="studentNo" column="STUDENT_NO" />
		<result property="cartYear" column="CART_YEAR" />
		<result property="cartTerm" column="CART_TERM" />
	</resultMap>
	<select id="selectAllCart" resultMap="lectureResultMap">
	SELECT * FROM LECTURE_TBL  
	</select>
	
	<insert id="insertCart" parameterType="Lecture" >
		INSERT INTO CART_TBL VALUES(SEQ_CART_NO.NEXTVAL
		, #{lectureNo}
		, NULL
		, DEFAULT
		, '1학기')	
	</insert>

	<select id="selectMyCart">
	SELECT LECTURE_NO FROM LECTURE_TBL, CART_TBL WHERE CART_NO 
	</select>
 </mapper>