<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ChatMapper">
  <resultMap type="ChatRoom" id="chatRoomResultMap">
		<id property="chatRoomNo" column="CHATROOM_NO" />
		<result property="marketNo" column="MARKET_NO" />
		<result property="marketTitle" column="MARKET_TITLE" />
	</resultMap>
	
	  <select id="selectOneChatRoom" resultMap="chatRoomResultMap">
  		SELECT * FROM
		CHATROOM WHERE MARKET_NO = #{marketNo}
  </select>

  <insert id="insertChatRoom">
  	INSERT INTO CHATROOM
		VALUES(SEQ_CHATROOM_NO.NEXTVAL, SEQ_MARKET_NO.CURRVAL, #{marketTitle})
  </insert>
  
  </mapper>