<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ConsultantMapper">
	<resultMap type="Consultant" id="consultantResultMap">
		<id property="cons_no" column="CONS_NO" />
		<result property="cons_student_no" column="CONS_STUDENT_NO" />
		<result property="cons_student_name" column="CONS_STUDENT_NAME" />
		<result property="cons_student_number" column="CONS_STUDENT_NUMBER" />
		<result property="cons_title" column="CONS_TITLE" />
		<result property="cons_college" column="CONS_COLLEGE" />
		<result property="cons_content" column="CONS_CONTENT" />
		<result property="cons_date" column="CONS_DATE" />
		<result property="cons_time" column="CONS_TIME" />
		<result property="cons_status" column="CONS_STATUS" />
		<result property="cons_counselor" column="CONS_COUNSELOR" />
		<result property="cons_university_code" column="CONS_UNIVERSITY_CODE" />
	</resultMap>
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM CONSULTANT_TBL 
	</select>
	
	<insert id="insertCons" parameterType="Consultant">
	 INSERT INTO CONSULTANT_TBL VALUES(SEQ_CONS_NO.NEXTVAL, #{cons_student_no}, #{cons_student_name}, #{cons_student_number},#{cons_title}, #{cons_college},#{cons_content}, #{cons_date}, #{cons_time}, default, #{cons_counselor}, #{cons_university_code})
	</insert>
	
	<select id="selectAdminAllCons" resultMap="consultantResultMap">
	 SELECT * FROM CONSULTANT_TBL ORDER BY CONS_NO ASC
	</select>
	
	<select id="selectAdminDetailCons" resultMap="consultantResultMap">
	 SELECT * FROM CONSULTANT_TBL WHERE CONS_NO = #{cons_student_no}
	</select>
	
	<select id="selectAllCons" resultMap="consultantResultMap">
	 SELECT * FROM CONSULTANT_TBL WHERE CONS_STUDENT_NO = #{cons_student_no} ORDER BY  CONS_NO
	</select>
	
	<select id="printByStNo" parameterType="Consultant" resultMap="consultantResultMap">
	 SELECT * FROM CONSULTANT_TBL WHERE	CONS_STUDENT_NO= #{studentNo} AND CONS_NO = (SELECT MAX(CONS_NO) FROM CONSULTANT_TBL WHERE cons_student_no = #{studentNo})
	</select>
	
	<select id="selectDetailCons"  parameterType="hashmap" resultMap="consultantResultMap">
	 SELECT * FROM CONSULTANT_TBL WHERE CONS_STUDENT_NO = #{cons_student_no} AND CONS_NO=#{cons_no}
	</select>
	
	<update id="updateStatus">
	 UPDATE CONSULTANT_TBL SET CONS_STATUS = 'Y' 
	 WHERE CONS_NO = #{cons_no}
	</update>
	
	<select id="deleteConsultant" resultMap="consultantResultMap">
	 DELETE FROM CONSULTANT_TBL  WHERE CONS_NO = #{cons_no}
	</select>
	
	<resultMap type="Manager" id="managerResultMap">
		<id property="managerNo" column="MANAGER_NO"/>
		<result property="managerName" column="MANAGER_NAME"/>
		<result property="managerBirth" column="MANAGER_BIRTH"/>
		<result property="managerAddress" column="MANAGER_ADDRESS"/>
		<result property="managerPhonenumber" column="MANAGER_PHONENUMBER"/>
		<result property="managerEmail" column="MANAGER_EMAIL"/>
		<result property="managerPassword" column="MANAGER_PASSWORD"/>
		<result property="managerTeam" column="MANAGER_TEAM"/>
	</resultMap>
	
	
	<select id="selectAllManager" resultMap="managerResultMap">
	 SELECT * FROM MANAGER_TBL
	</select>
	


	<resultMap type="ConsultantReply" id="ConsultantReplyResultMap">
		<id property="cons_reply_no" column="CONS_REPLY_NO"></id>
		<result property="cons_no" column="CONS_NO" />
		<result property="cons_reply_date" column="CONS_REPLY_DATE" />
		<result property="cons_reply_writer" column="CONS_REPLY_WRITER" />
		<result property="cons_reply_content" column="CONS_REPLY_CONTENT" />
	</resultMap>
		<insert id="insertAdminConsReply">
		 	INSERT INTO CONSULTANT_REPLY_TBL VALUES(SEQ_CONS_REPLY_NO.NEXTVAL,#{cons_no}, DEFAULT, #{cons_reply_writer}, #{cons_reply_content})
		</insert>
		
		<select id="selectAllAdminReply" resultMap="ConsultantReplyResultMap">
			SELECT * FROM CONSULTANT_REPLY_TBL WHERE CONS_NO = #{cons_no} ORDER BY CONS_REPLY_NO DESC 
		</select>
		
		<select id="selectReplyCount" resultType="_int">
			SELECT COUNT(*) FROM CONSULTANT_REPLY_TBL WHERE CONS_NO = #{cons_no}
		</select>
</mapper>

