<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="GraduationMapper">
  	<resultMap type="Graduation" id="graduationResultMap">
  	<id property="studentNo" column="STUDENT_NO"></id>
  	<result property="graduationStatus" column="GRADUATION_STATUS"/>
  	<result property="graduationFilename" column="GRADUATION_FILENAME"/>
  	<result property=" graduationFilerename" column="GRADUATION_FILERENAME"/>
  	<result property="graduationFilepath" column="GRADUATION_FILEPATH"/>
  	<result property="graduationStuName" column="GRADUATION_STU_NAME"/>
  	<result property="graduationStuDep" column="GRADUATION_STU_DEP"/>
  	<result property="graduationStuGrade" column="GRADUATION_STU_Grade"/>
  	<result property="graduationYear" column="GRADUATION_YEAR"/>
  	<result property="chk" column="CHK"/>
  	
  
  	</resultMap>
  	
  	<select id="selectGraduResult" resultMap="graduationResultMap">
  		SELECT *
  		FROM GRADUATION_TBL
  		WHERE  GRADUATION_YEAR = #{graduationYear} AND GRADUATION_STU_DEP = #{graduationStuDep}
  	</select>
  	
  	<insert id="insertGraduation">
  		INSERT INTO GRADUATION_TBL VALUES(#{studentNo}, DEFAULT, NULL, NULL, NULL,#{graduationStuName}, #{graduationStuDep}, #{graduationStuGrade}, TO_CHAR(SYSDATE, 'YYYY'), DEFAULT)
  		
  	</insert>
  	
  	<update id="updateGraduationAccept">
  		UPDATE GRADUATION_TBL SET GRADUATION_STATUS = 'Y'
  		WHERE STUDENT_NO = #{studentNo}
  	
  	</update>
  	
  		
  	</mapper>