<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GradeMapper">
	<resultMap type="Grade" id="gradeResultMap">
		<id property="lectureNo" column="LECTURE_NO"/>
		<result property="studentNo" column="STUDENT_NO"/>
		<result property="gradeYear" column="GRADE_YEAR"/>
		<result property="gradeSession" column="GRADE_SESSION"/>
		<result property="gradeSubject" column="GRADE_SUBJECT"/>
		<result property="gradeComplete" column="LECTURE_DIVISION"/>
		<result property="lectureGrade" column="LECTURE_GRADE"/>
		<result property="gradeScore" column="GRADE_SCORE"/>
		<result property="gradeAvg" column="GRADE_AVG"/>
		<result property="gradeFeedback" column="GRADE_FEEDBACK"/>
		<result property="gradeObjection" column="GRADE_OBJECTION"/>
		<result property="gradeChange" column="GRADE_CHANGE"/>
		<result property="objectionContent" column="OBJECTION_CONTENT"/>
	</resultMap>
	
	<select id="selectGradeStudent" resultMap="gradeResultMap">
		SELECT * FROM GRADE_TBL WHERE STUDENT_NO = #{studentNo}
	</select>
	
	<select id="selectGradeProfessor" resultMap="gradeResultMap">
		SELECT * FROM GRADE_TBL WHERE PROFESSOR_NO = #{professorNo}
	</select>
	
	<select id="selectFeedbackStudent" resultMap="gradeResultMap">
		SELECT * FROM GRADE_OBJECTION O
		LEFT JOIN GRADE_TBL G ON
		(G.STUDENT_NO = O.STUDENT_NO AND G.LECTURE_NO = O.LECTURE_NO AND O.STUDENT_NO = #{studentNo})
		LEFT JOIN FEEDBACK_TBL F ON (F.STUDENT_NO = O.STUDENT_NO AND F.LECTURE_NO = O.LECTURE_NO)
	</select>
	
	<select id="selectFeedbackProfessor" resultMap="gradeResultMap">
		SELECT * FROM GRADE_OBJECTION O
		LEFT JOIN GRADE_TBL G ON
		(G.STUDENT_NO = O.STUDENT_NO AND G.LECTURE_NO = O.LECTURE_NO AND G.PROFESSOR_NO = #{professorNo})
		LEFT JOIN FEEDBACK_TBL F ON (F.STUDENT_NO = O.STUDENT_NO AND F.LECTURE_NO = O.LECTURE_NO)
	</select>
</mapper>