<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LectureMapper">
	<resultMap type="Lecture"  id="lectureResultMap">
		<id property="lectureNo" column="LECTURE_NO" />
		<result property ="professorNo" column= "PROFESSOR_NO" />
		<result property="universityCollege" column="UNIVERSITY_COLLEGE" />
		<result property="lectureDepartment" column="LECTURE_DEPARTMENT" />
		<result property="lectureName" column="LECTURE_NAME" />
		<result property="professorName" column="PROFESSOR_NAME" />
		<result property="lectureDivision" column="LECTURE_DIVISION" />
		<result property="lectureGrade" column="LECTURE_GRADE" />
		<result property="lectureRoom" column="LECTURE_ROOM" />
		<result property="lecturePeople" column="LECTURE_PEOPLE" />
		<result property="lectureTime" column="LECTURE_TIME" />
	</resultMap>
	
	<select id="selectAllLecture" resultMap="lectureResultMap">
	SELECT * FROM LECTURE_TBL  
	</select>
	
	<select id="selectOneLecture" resultMap= "lectureResultMap">
	SELECT * FROM LECTURE_TBL WHERE LECTURE_NO = #{lectureNo}
	</select>
	
	<insert id="insertLecture"  parameterType="Lecture">
	INSERT INTO LECTURE_TBL VALUES(SEQ_LEC_NO.NEXTVAL
	, NULL
	, NULL
	, #{lectureDepartment}
	, #{lectureName}
	, #{professorName}
	, #{lectureDivision}
	, #{lectureGrade}
	, #{lectureRoom}
	, #{lecturePeople}
	, #{lectureTime}
	)
	</insert>
			
	<update id="updateLecture">
		UPDATE LECTURE_TBL 
		SET 
		LECTURE_NAME = #{lectureName}
		,LECTURE_DEPARTMENT = #{lectureDepartment}
		, PROFESSOR_NAME = #{professorName}
		, LECTURE_DIVISION = #{lectureDivision}
		, LECTURE_GRADE = #{lectureGrade}
		, LECTURE_ROOM = #{lectureRoom}
		, LECTURE_PEOPLE =  #{lecturePeople}
		, LECTURE_TIME  = #{lectureTime} 
		WHERE LECTURE_NO = #{lectureNo} 
	</update>
	<delete id="deleteLecture">
		DELETE FROM LECTURE_TBL WHERE LECTURE_NO = #{lectureNo}
	</delete>
	
	<select id="selectAllProName" resultMap="lectureResultMap">
		SELECT DISTINCT
		PROFESSOR_NAME FROM LECTURE_TBL ORDER BY PROFESSOR_NAME ASC
	</select>
</mapper>