<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LectureMapper">
	<resultMap type="Lecture"  id="lectureResultMap">
		<id property="lectureNo" column="LECTURE_NO" />
		<result property ="professorNo" column= "PROFESSOR_NO" />
		<result property="universityCollege" column="UNIVERSITY_COLLEGE" />
		<result property="lectureDepartment" column="LECTURE_DEPARTMENT" />
		<result property="lectureName" column="LECTURE_NAME" />
		<result property="professorName" column="PROFESSOR_NAME" />
		<result property="lectureDivision" column="LECTURE_DIVISION" />
		<result property="lectureGrade" column="LECTURE_GRADE" />
		<result property="lectureRoom" column="LECTURE_ROOM" />
		<result property="lecturePeople" column="LECTURE_PEOPLE" />
		<result property="lectureStartTime" column="LECTURE_START_TIME" />
		<result property="lectureEndTime" column="LECTURE_ENDTIME" />
		
	</resultMap>
	
	<select id="selectAllLecture" resultMap="lectureResultMap" parameterType="String">
	SELECT * FROM LECTURE_TBL
 		<if test="lectureDepartment!=null">
 			WHERE LECTURE_DEPARTMENT = #{lectureDepartment}
 		</if>
	</select>
	
	<select id="selectAllLecture2" resultMap="lectureResultMap" parameterType="String">
	SELECT * FROM LECTURE_TBL
 			WHERE LECTURE_DEPARTMENT = #{lectureDepartment}  
	</select>
	
	<select id="selectOneLecture" resultMap= "lectureResultMap">
	SELECT * FROM LECTURE_TBL WHERE LECTURE_NO = #{lectureNo}
	</select>
	
	<insert id="insertLecture"  parameterType="Lecture">
	INSERT INTO LECTURE_TBL VALUES(SEQ_LEC_NO.NEXTVAL
	, #{professorNo}
	, #{universityCollege}
	, #{lectureDepartment}
	, #{lectureName}
	, #{professorName}
	, #{lectureDivision}
	, #{lectureGrade}
	, #{lectureRoom}
	, #{lecturePeople}
	, #{lectureStartTime}
	, #{lectureEndTime}
	)
	</insert>
			
	<update id="updateLecture">
		UPDATE LECTURE_TBL 
		SET 
		LECTURE_NAME = #{lectureName}
		,LECTURE_DEPARTMENT = #{lectureDepartment}
		, PROFESSOR_NAME = #{professorName}
		, LECTURE_DIVISION = #{lectureDivision}
		, LECTURE_GRADE = #{lectureGrade}
		, LECTURE_ROOM = #{lectureRoom}
		, LECTURE_PEOPLE =  #{lecturePeople}
		, LECTURE_START_TIME  = #{lectureStartTime} 
		, LECTURE_ENDTIME  = #{lectureEndTime} 
		WHERE LECTURE_NO = #{lectureNo} 
	</update>
	<delete id="deleteLecture">
		DELETE FROM LECTURE_TBL WHERE LECTURE_NO = #{lectureNo}
	</delete>
	
	<!-- <select id="selectAllProName" resultMap="lectureResultMap">
		SELECT DISTINCT
		PROFESSOR_NAME FROM LECTURE_TBL ORDER BY PROFESSOR_NAME ASC
	</select> -->
	
	
	<resultMap type="Professor" id="professorResultMap">
		<id property="professorNo" column="PROFESSOR_NO"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
		<result property="professorName" column="PROFESSOR_NAME"/>
		<result property="professorBirth" column="PROFESSOR_BIRTH"/>
		<result property="professorAddress" column="PROFESSOR_ADDRESS"/>
		<result property="professorPhonenumber" column="PROFESSOR_PHONENUMBER"/>
		<result property="professorEmail" column="PROFESSOR_EMAIL"/>
		<result property="professorPassword" column="PROFESSOR_PASSWORD"/>
		<result property="universityCode" column="UNIVERSITY_CODE"/>
		<result property="chk" column="CHK"/>
	</resultMap>
	
	<select id="selectAllProName" resultMap="professorResultMap">
		SELECT * FROM PROFESSOR_TBL
	</select>

	<resultMap type="university" id="universityResultMap">
		<id property="universityCode"        column="UNIVERSITY_CODE" />
		<result property="universityName"    column="UNIVERSITY_NAME" />
		<result property="universityCollege" column="UNIVERSITY_COLLEGE" />
	</resultMap>
	
	<select id="selectAllDept" resultMap="universityResultMap">
		SELECT * FROM UNIVERSITY_TBL
	</select>
	
	
	<select id="selectAllUniName" resultMap="professorResultMap">
		SELECT DISTINCT DEPARTMENT_NAME FROM PROFESSOR_TBL ORDER BY DEPARTMENT_NAME ASC
	</select>
	
	<select id="selectProName" resultMap="professorResultMap">
		SELECT DISTINCT PROFESSOR_NAME FROM PROFESSOR_TBL WHERE DEPARTMENT_NAME=#{departmentName} ORDER BY PROFESSOR_NAME ASC
	</select>
</mapper>