<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginMapper">
	<select id="studentLogin" resultType="_int">
		SELECT STUDENT_NO FROM STUDENT_TBL WHERE STUDENT_NO = #{studentNo} AND STUDENT_PASSWORD = #{studentPassword}
	</select>
	
	<select id="professorLogin" resultType="_int">
		SELECT PROFESSOR_NO FROM PROFESSOR_TBL WHERE PROFESSOR_NO = #{professorNo} AND PROFESSOR_PASSWORD = #{professorPassword}
	</select>
	
	<select id="managerLogin" resultType="_int">
		SELECT MANAGER_NO FROM MANAGER_TBL WHERE MANAGER_NO = #{managerNo} AND MANAGER_PASSWORD = #{managerPassword}
	</select>
	
	<select id="selectPwdStd" resultType="string">
		SELECT STUDENT_EMAIL FROM STUDENT_TBL
		WHERE STUDENT_NO = #{studentNo}
		AND STUDENT_NAME = #{studentName}
		AND STUDENT_PHONENUMBER = #{studentPhonenumber}
	</select>
	
	<select id="stdPwdSame" resultType="_int">
		SELECT COUNT(*) FROM STUDENT_TBL
		WHERE STUDENT_NO = #{id} AND STUDENT_PASSWORD = #{pwd}
	</select>
	
	<select id="prfPwdSame" resultType="_int">
		SELECT COUNT(*) FROM PROFESSOR_TBL
		WHERE PROFESSOR_NO = #{id} AND PROFESSOR_PASSWORD = #{pwd}
	</select>
	
	<select id="magPwdSame" resultType="_int">
		SELECT COUNT(*) FROM MANAGER_TBL
		WHERE MANAGER_NO = #{id} AND MANAGER_PASSWORD = #{pwd}
	</select>
	
	<update id="stdPwdChange">
		UPDATE STUDENT_TBL SET STUDENT_PASSWORD =#{pwd}
		WHERE STUDENT_NO = #{id}
	</update>
	
	<update id="prfPwdChange">
		UPDATE PROFESSOR_TBL SET PROFESSOR_PASSWORD =#{pwd}
		WHERE PROFESSOR_NO = #{id}
	</update>
	
	<update id="magPwdChange">
		UPDATE MANAGER_TBL SET MANAGER_PASSWORD =#{pwd}
		WHERE MANAGER_NO = #{id}
	</update>
</mapper>