<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ManagerMapper">
	<!-- 학생 -->
	<resultMap type="Student" id="studentResultMap">
		<id property="studentNo" column="STUDENT_NO"/>
		<result property="universityCollege" column="UNIVERSITY_COLLEGE"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
		<result property="studentName" column="STUDENT_NAME"/>
		<result property="studentGrade" column="STUDENT_GRADE"/>
		<result property="studentBirth" column="STUDENT_BIRTH"/>
		<result property="studentAddress" column="STUDENT_ADDRESS"/>
		<result property="studentPhonenumber" column="STUDENT_PHONENUMBER"/>
		<result property="studentEmail" column="STUDENT_EMAIL"/>
		<result property="studentPassword" column="STUDENT_PASSWORD"/>
		<result property="professorNo" column="PROFESSOR_NO"/>
		<result property="studentState" column="STUDENT_STATE"/>
		<result property="professorName" column="PROFESSOR_NAME"/>
		<result property="chk" column="CHK"/>
		<result property="universityCode" column="UNIVERSITY_CODE"/>
	</resultMap>
	
	<select id="selectStudentList" resultMap="studentResultMap">
		SELECT * FROM STUDENT_TBL
	</select>
	
	<insert id="insertStudent">
		INSERT INTO STUDENT_TBL VALUES(#{studentNo}, #{universityCollege}, #{departmentName}, #{studentName}
		, #{studentGrade}, #{studentBirth}, #{studentAddress}, #{studentPhonenumber}, #{studentEmail}, #{studentPassword}, #{professorNo}
		, #{studentState}, #{professorName}, #{universityCode}, DEFAULT)
	</insert>
	
	<update id="updateStudent">
		UPDATE STUDENT_TBL
		SET UNIVERSITY_COLLEGE = #{universityCollege},
		DEPARTMENT_NAME = #{departmentName},
		STUDENT_NAME = #{studentName},
		STUDENT_GRADE = #{studentGrade},
		STUDENT_BIRTH = #{studentBirth},
		STUDENT_ADDRESS = #{studentAddress},
		STUDENT_PHONENUMBER = #{studentPhonenumber},
		STUDENT_EMAIL = #{studentEmail},
		PROFESSOR_NO = #{professorNo},
		STUDENT_STATE = #{studentState},
		PROFESSOR_NAME = #{professorName}
		WHERE STUDENT_NO = #{studentNo}
	</update>
	
	<delete id="deleteStudent" parameterType="int">
		DELETE FROM STUDENT_TBL
		WHERE STUDENT_NO = #{studentNo}
	</delete>
	
	<!-- 교수 -->
	<resultMap type="Professor" id="professorResultMap">
		<id property="professorNo" column="PROFESSOR_NO"/>
		<result property="departmentName" column="DEPARTMENT_NAME"/>
		<result property="professorName" column="PROFESSOR_NAME"/>
		<result property="professorBirth" column="PROFESSOR_BIRTH"/>
		<result property="professorAddress" column="PROFESSOR_ADDRESS"/>
		<result property="professorPhonenumber" column="PROFESSOR_PHONENUMBER"/>
		<result property="professorEmail" column="PROFESSOR_EMAIL"/>
		<result property="professorPassword" column="PROFESSOR_PASSWORD"/>
		<result property="chk" column="CHK"/>
		<result property="universityCode" column="UNIVERSITY_CODE"/>
	</resultMap>
	
	<select id="selectProfessorList" resultMap="professorResultMap">
		SELECT * FROM Professor_TBL
	</select>
	
	<insert id="insertProfessor">
		INSERT INTO PROFESSOR_TBL VALUES(#{professorNo}, #{universityCode}, #{professorName}, #{professorBirth}
		,#{professorAddress}, #{professorPhonenumber}, #{professorEmail}, #{professorPassword},#{departmentName}, DEFAULT)
	</insert>
	
	<update id="updateProfessor">
		UPDATE PROFESSOR_TBL
		SET DEPARTMENT_NAME = #{departmentName},
		PROFESSOR_NAME = #{professorName},
		PROFESSOR_BIRTH = #{professorBirth},
		PROFESSOR_ADDRESS = #{professorAddress},
		PROFESSOR_PHONENUMBER = #{professorPhonenumber},
		PROFESSOR_EMAIL = #{professorEmail}
		WHERE PROFESSOR_NO = #{professorNo}
	</update>
	
	<delete id="deleteProfessor" parameterType="int">
		DELETE FROM PROFESSOR_TBL
		WHERE PROFESSOR_NO = #{professorNo}
	</delete>
	
	<!-- 관리자 -->
	<resultMap type="Manager" id="managerResultMap">
		<id property="managerNo" column="MANAGER_NO"/>
		<result property="managerName" column="MANAGER_NAME"/>
		<result property="managerBirth" column="MANAGER_BIRTH"/>
		<result property="managerAddress" column="MANAGER_ADDRESS"/>
		<result property="managerPhonenumber" column="MANAGER_PHONENUMBER"/>
		<result property="managerEmail" column="MANAGER_EMAIL"/>
		<result property="managerPassword" column="MANAGER_PASSWORD"/>
		<result property="managerTeam" column="MANAGER_TEAM"/>
		<result property="chk" column="CHK"/>
	</resultMap>
	
	<insert id="insertManager">
		INSERT INTO MANAGER_TBL VALUES(#{managerNo}, #{managerName}, #{managerBirth}, #{managerAddress}
		, #{managerPhonenumber}, #{managerEmail}, #{managerPassword}, #{managerTeam}, DEFAULT)
	</insert>
	
	<update id="updateManager">
		UPDATE MANAGER_TBL
		SET MANAGER_NAME = #{managerName},
		MANAGER_BIRTH = #{managerBirth},
		MANAGER_ADDRESS = #{managerAddress},
		MANAGER_PHONENUMBER = #{managerPhonenumber},
		MANAGER_EMAIL = #{managerEmail},
		MANAGER_TEAM = #{managerTeam}
		WHERE MANAGER_NO = #{managerNo}
	</update>
	
	<delete id="deleteManager" parameterType="int">
		DELETE FROM MANAGER_TBL
		WHERE MANAGER_NO = #{managerNo}
	</delete>
	
	<select id="selectManagerList" resultMap="managerResultMap">
		SELECT * FROM MANAGER_TBL
	</select>
	
	<select id="selectAllManagerInfo" resultMap="managerResultMap">
		SELECT * FROM MANAGER_TBL WHERE MANAGER_NO = #{managerNo} AND MANAGER_PASSWORD = #{managerPassword}
	</select>

	
	
</mapper>