<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MarketMapper">
	<resultMap type="Market" id="marketResultMap">
		<id property="marketNo" column="MARKET_NO"></id>
		<result property="marketType" column="MARKET_TYPE"></result>
		<result property="marketGoods" column="MARKET_GOODS"></result>
		<result property="marketPrice" column="MARKET_PRICE"></result>
		<result property="marketTitle" column="MARKET_TITLE"></result>
		<result property="marketContent" column="MARKET_CONTENT"></result>
		<result property="marketId" column="MARKET_Id"></result>
		<result property="marketWriter" column="MARKET_WRITER"></result>
		<result property="marketDate" column="MARKET_DATE"></result>
		<result property="marketUpdateDate" column="MARKET_UPDATEDATE"></result>
		<result property="marketCount" column="MARKET_COUNT"></result>
		<result property="marketFileName" column="MARKET_FILENAME"></result>
		<result property="marketFileReName" column="MARKET_FILERENAME"></result>
		<result property="marketFilePath" column="MARKET_FILEPATH"></result>

	</resultMap>

	<select id="selectAllMarket" resultMap="marketResultMap">
		SELECT * FROM MARKET_TBL
		<if test="searchValue!=null">
			<if test="searchCondition.toString() == 'writer'">
				WHERE MARKET_WRITER LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchCondition.toString() == 'title'">
				WHERE MARKET_TITLE LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				WHERE MARKET_CONTENT LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				WHERE MARKET_CONTENT LIKE '%' || #{searchValue} || '%'
				OR
				MARKET_TITLE LIKE '%' || #{searchValue} || '%'
				OR MARKET_WRITER
				LIKE
				'%' || #{searchValue} || '%'
			</if>
		</if>
		ORDER BY MARKET_NO DESC
	</select>

	<select id="selectOneMarket" resultMap="marketResultMap">
		SELECT * FROM MARKET_TBL
		WHERE MARKET_NO = #{marketNo}
	</select>

	<!-- 페이지 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM MARKET_TBL
		<if test="searchValue!=null">
			<if test="searchCondition.toString() == 'writer'">
				WHERE MARKET_WRITER LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchCondition.toString() == 'title'">
				WHERE MARKET_TITLE LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				WHERE MARKET_CONTENT LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				WHERE MARKET_CONTENT LIKE '%' || #{searchValue} || '%'
				OR
				MARKET_TITLE LIKE '%' || #{searchValue} || '%'
				OR MARKET_WRITER
				LIKE
				'%' || #{searchValue} || '%'
			</if>
		</if>
		ORDER BY MARKET_NO DESC
	</select>

	<insert id="insertMarket">
		INSERT INTO MARKET_TBL VALUES(SEQ_MARKET_NO.NEXTVAL,
		#{marketType}, #{marketGoods}, #{marketPrice}, #{marketTitle},
		#{marketContent},#{marketId}, #{marketWriter}, DEFAULT,
		DEFAULT,DEFAULT ,#{marketFileName},
		#{marketFileReName},#{marketFilePath})
	</insert>

	<update id="updateCount">
		UPDATE MARKET_TBL SET MARKET_COUNT = MARKET_COUNT + 1
		WHERE MARKET_NO = #{marketNo}
	</update>

	<update id="updateMarket">
		UPDATE MARKET_TBL SET MARKET_TYPE =
		#{marketType},
		MARKET_GOODS = #{marketGoods}, MARKET_PRICE = #{marketPrice},
		MARKET_TITLE =
		#{marketTitle}, MARKET_CONTENT = #{marketContent},
		MARKET_UPDATEDATE = DEFAULT, MARKET_FILENAME =
		#{marketFileName},MARKET_FILERENAME =
		#{marketFileReName},MARKET_FILEPATH = #{marketFilePath} WHERE
		MARKET_NO =
		#{marketNo}
	</update>

	<delete id="deleteMarket">
		DELETE FROM MARKET_TBL WHERE MARKET_NO = #{marketNo}
	</delete>


	<!-- 댓글 -->
	<resultMap type="MarketReply" id="mReplyResult">
		<id property="marketReplyNo" column="MARKETREPLY_NO"></id>
		<result property="marketNo" column="MARKET_NO" />
		<result property="mReplyId" column="MARKETREPLY_ID" />
		<result property="mReplyWriter" column="M_REPLY_WRITER" />
		<result property="mReplyContent" column="M_REPLY_CONTENT" />
		<result property="mReplyDate" column="M_REPLY_DATE" />
		<result property="mReplyUpdateDat" column="M_REPLY_UPDATEDATE" />
	</resultMap>



	<select id="selectAllReply" resultMap="mReplyResult">
		SELECT * FROM
		MARKETREPLY_TBL WHERE MARKET_NO = #{marketNo}
	</select>

	<insert id="insertReply">
		INSERT INTO MARKETREPLY_TBL
		VALUES(SEQ_MARKETREPLY_NO.NEXTVAL, #{marketNo}, #{mReplyId},
		#{mReplyWriter},
		#{mReplyContent}, DEFAULT, DEFAULT)
	</insert>

	<update id="updateReply">
		UPDATE MARKETREPLY_TBL SET M_REPLY_CONTENT =
		#{mReplyContent} WHERE MARKET_NO = #{marketNo} AND MARKETREPLY_NO =
		#{marketReplyNo}
	</update>

	<delete id="deleteReply">
		DELETE FROM MARKETREPLY_TBL WHERE
		MARKET_NO=#{marketNo} AND MARKETREPLY_NO=#{marketReplyNo}
	</delete>

</mapper>