<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RecruitmentMapper">
	<resultMap type="Recruitment" id="recruitmentResultMap">
		<id property="recruitmentNo" column="RECRUITMENT_NO"/>
		<result property="recruitmentTitle" column="RECRUITMENT_TITLE"/>
		<result property="recruitmentCompanyName" column="RECRUITMENT_COMPANY_NAME"/>
		<result property="recruitmentCareer" column="RECRUITMENT_CAREER"/>
		<result property="recruitmentEducation" column="RECRUITMENT_EDUCATION"/>
		<result property="recruitmentPrefer" column="RECRUITMENT_PREFER"/>
		<result property="recruitmentType" column="RECRUITMENT_TYPE"/>
		<result property="recruitmentSalary" column="RECRUITMENT_SALARY"/>
		<result property="recruitmentRegion" column="RECRUITMENT_REGION"/>
		<result property="recruitmentDate" column="RECRUITMENT_DATE"/>
		<result property="recruitmentStartDate" column="RECRUITMENT_START_DATE"/>
		<result property="recruitmentEndDate" column="RECRUITMENT_END_DATE"/>
		<result property="recruitmentWriter" column="RECRUITMENT_WRITER"/>
		<result property="recruitmentCount" column="RECRUITMENT_COUNT"/>		
	</resultMap>
	
	<!-- 페이징 -->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM RECRUITMENT_TBL
		<if test="searchValue!=null">
			<if test="searchCondition.toString() == 'title'">
				WHERE RECRUITMENT_TITLE LIKE '%' || #{searchValue} || '%'
			</if>
		</if>
		ORDER BY RECRUITMENT_NO DESC
	</select>
	
	
	<!-- 전체 조회 -->
	<select id="selectAllRecruitment" resultMap="recruitmentResultMap">
		SELECT * FROM RECRUITMENT_TBL
		<if test="searchValue!=null">
			<if test="searchCondition.toString() == 'title'">
				WHERE RECRUITMENT_TITLE LIKE '%' || #{searchValue} || '%'
			</if>
		</if>
		ORDER BY RECRUITMENT_NO DESC
	</select> 
	
	
	<!-- 상세 조회 -->
	<select id="selectOneRecruitment" resultMap="recruitmentResultMap">
		SELECT * FROM RECRUITMENT_TBL WHERE RECRUITMENT_NO = #{recruitmentNo}
	</select>
		
	<insert id="insertRecruitment" parameterType="Recruitment">
		INSERT INTO RECRUITMENT_TBL VALUES(SEQ_RECRUITMENT_NO.NEXTVAL
		, #{recruitmentTitle}
		, #{recruitmentCompanyName}
		, #{recruitmentCareer}
		, #{recruitmentEducation}
		, #{recruitmentPrefer}
		, #{recruitmentType}
		, #{recruitmentSalary}
		, #{recruitmentRegion}
		, DEFAULT
		, #{recruitmentStartDate}
		, #{recruitmentEndDate}
		, #{recruitmentWriter}
		, DEFAULT
		)		
	</insert>
	
	<update id="updateRecruitment">
		UPDATE RECRUITMENT_TBL
		 SET RECRUITMENT_TITLE	 	= #{recruitmentTitle}
		, RECRUITMENT_COMPANY_NAME  = #{recruitmentCompanyName}
		, RECRUITMENT_CAREER		= #{recruitmentCareer}
		, RECRUITMENT_EDUCATION		= #{recruitmentEducation}
		, RECRUITMENT_PREFER		= #{recruitmentPrefer}
		, RECRUITMENT_TYPE			= #{recruitmentType}
		, RECRUITMENT_SALARY		= #{recruitmentSalary}
		, RECRUITMENT_REGION		= #{recruitmentRegion}
		, RECRUITMENT_DATE			= DEFAULT
		, RECRUITMENT_START_DATE	= #{recruitmentStartDate}
		, RECRUITMENT_END_DATE		= #{recruitmentEndDate}
		WHERE RECRUITMENT_NO		= ${recruitmentNo}
	</update>
	
	<update id="updateCountRecruitment">
		UPDATE RECRUITMENT_TBL SET RECRUITMENT_COUNT = RECRUITMENT_COUNT + 1 WHERE RECRUITMENT_NO = #{recruitmentNo}
	</update>
	
	<delete id="deleteRecruitment">
		DELETE FROM RECRUITMENT_TBL WHERE RECRUITMENT_NO = #{recruitmentNo}
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>