<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ScholarshipMapper">
  	<resultMap type="Scholarship" id="scholarshipResultMap">
  	<id property="scholarship_inno" column="SCHOLARSHIP_INNO"></id>
  	<result property="scholarship_avg_grade" column="SCHOLARSHIP_AVG_GRADE"/>
  	<result property="scholarship_year" column="SCHOLARSHIP_YEAR"/>
  	<result property="scholarship_term" column="SCHOLARSHIP_TEAM"/>
  	<result property="scholarship_status" column="SCHOLARSHIP_STATUS"/>
  	<result property="scholarship_amount" column="SCHOLARSHIP_AMOUNT"/>
  	<result property="scholarship_name" column="SCHOLARSHIP_NAME"/>
  	<result property="scholarship_phonenumber" column="SCHOLARSHIP_PHONENUMBER"/>
  	<result property="scholarship_college" column="SCHOLARSHIP_COLLEGE"/>
  	<result property="scholarship_student_no" column="SCHOLARSHIP_STU_NO"/>		
  
  	</resultMap>
  	<insert id="registerScholar" parameterType="Scholarship">
  	 INSERT INTO SCHOLARSHIP_TBL VALUES(SEQ_SCHOLARSHIP_NO.NEXTVAL, #{scholarship_avg_grade},  #{scholarship_year},  #{scholarship_term},  DEFAULT,  #{scholarship_amount},  #{scholarship_name}, #{scholarship_phonenumber}, #{scholarship_college}, #{scholarship_student_no})
  	</insert>
  	<select id="selectAllScholar" resultMap="scholarshipResultMap">
  	 SELECT * FROM SCHOLARSHIP_TBL
  	</select>
  	
  	<select id="selectResult" resultMap="scholarshipResultMap">
  	SELECT SCHOLARSHIP_NAME, SCHOLARSHIP_STU_NO, SCHOLARSHIP_COLLEGE, SCHOLARSHIP_PHONENUMBER, SCHOLARSHIP_YEAR , SCHOLARSHIP_TEAM, SCHOLARSHIP_STATUS 
  	FROM SCHOLARSHIP_TBL WHERE SCHOLARSHIP_NAME = #{scholarship_name}
  	</select>
  	
  	</mapper>