
@media screen and (min-width:0\0) and (-ms-high-contrast: active) 
{ 
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
} 

html, body
{
  position:absolute;
  width:100%;
  height:100%;  
  font:12pt Verdana;
}

div
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -ms-user-select:none;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}


div.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.nexartl
{ 
  right:0px;
}

div.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.nexartl.withvscroll
{
  left:14px;
}
div.nexacontainer.withhscroll
{
  bottom:14px;
}
div.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}
.nexacontainer.nexartl.withbothscroll
{
  left:14px;
  bottom:14px;
}
div.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexalefttop.nexartl
{
  background-position:right top;
}
div.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexaleftbottom.nexartl
{
  background-position:right bottom;
}
div.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarightbottom.nexartl
{
  background-position:left bottom;
}
div.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexarighttop.nexartl
{
  background-position:left top;
}
div.nexaedge
{
  width:100%;
  height:100%;
}
div.nexamodaloverlay
{
  width:100%;
  height:100%;
}
div.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}
div.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}
div.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexacontentsbox.nexartl
{
  background-position:right center;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}
.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}
.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
  box-sizing:border-box;		
}
div.nexaleftalign, input.nexaleftalign
{
  text-align:left;
}
.nexaleftalign.nexartl
{
  text-align:right;
}
div.nexarightalign, input.nexarightalign
{
  text-align:right;
}
.nexarightalign.nexartl
{
  text-align:left;
}
div.nexacenteralign,input.nexacenteralign
{
  text-align:center;
}
div.nexamap div *
{
  overflow:visible;
}
div.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
}

div.celltreeline
{
  border : 1px dotted #999999;
}

div.Edit, div.MaskEdit, div.TextArea, div.EditControl, div.MaskEditControl, div.TextAreaControl
{
  cursor:text;
}
div.Button .nexacontentsbox, div.ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}
div.FileDownload  .nexacontentsbox, div.FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}
div.IconTextControl .nexacontentsbox, div.IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}
div.DatePickerDayItemControl .nexacontentsbox, div.DatePickerWeekItemControl .nexacontentsbox, div.TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}
div.Sketch .nexacontentsbox
{
  text-align:center;
}
div.MainFrame, div.VScrollBarControl, div.HScrollBarControl
{
  cursor:default;
}

div.Button
{
	border : 1px solid #9c9c9c;
	background : #ffffff;
	background : linear-gradient(#ffffff 0%,#e1e1e1 100%);
	letter-spacing : 3px;
}
div.Form
{
	background : #ffffff;
	color : #222222;
	font : 12px "Malgun Gothic";
}
div.Button.btn_TF_Delete
{
	background : purple;
	color : #ffffff;
}
div.Button.btn_WF_Save
{
	border : 1px solid #edada2;
	background : #ffffff;
	background : linear-gradient(#ffffff 0%,#f9cbc3 100%);
	color : #a1210b;
	letter-spacing : 0px;
}
div.Button.btn_WF_Save .nexacontentsbox
{
	text-decoration : underline;
}
div.Button.btn_WF_Add
{
	border : 1px solid #263a7d;
	background : url('./images/img_WF_RepeatX.png') repeat-x center bottom /auto;
	color : #ffffff;
}
div.Combo
{
	border : 1px solid #9c9c9c;
	background : #ffffff;
}
div.Combo .comboedit .nexainput
{
	padding : 0px 0px 0px 10px;
}
.Combo.nexartl .comboedit .nexainput
{
	padding : 0px 10px 0px 0px;
}
div.ListBoxControl.popupCombocombolist.dummy
{
	border : 1px solid #9c9c9c;
	background : #ffffff;
}
div.ListBoxControl.popupCombocombolist.dummy .listboxitem
{
	color : red;
}
div.Calendar
{
	border : 1px solid #9c9c9c;
	background : #ffffff;
}
div.Calendar .calendaredit .nexainput
{
	padding : 0px 0px 0px 10px;
}
.Calendar.nexartl .calendaredit .nexainput
{
	padding : 0px 10px 0px 0px;
}
div.Calendar .datepicker
{
	border : 1px solid #9c9c9c;
	background : #ffffff;
}
.DatePickerControl.popupCalendardatepicker
{
	border : 1px solid #9c9c9c;
	background : #ffffff;
}
div.Calendar .datepicker .head
{
	background : #f44a26;
}
.DatePickerControl.popupCalendardatepicker .head
{
	background : #f44a26;
}
div.Calendar .datepicker .head .monthspin .spinedit
{
	color : #ffffff;
}
.DatePickerControl.popupCalendardatepicker .head .monthspin .spinedit
{
	color : #ffffff;
}
div.Calendar .datepicker .head .monthstatic
{
	color : #ffffff;
	font : bold 12px "Malgun Gothic";
}
.DatePickerControl.popupCalendardatepicker .head .monthstatic
{
	color : #ffffff;
	font : bold 12px "Malgun Gothic";
}
div.Calendar .datepicker .head .yearspin .spinedit
{
	color : #ffffff;
}
.DatePickerControl.popupCalendardatepicker .head .yearspin .spinedit
{
	color : #ffffff;
}
div.Calendar .datepicker .head .yearstatic
{
	color : #ffffff;
	font : bold 12px "Malgun Gothic";
}
.DatePickerControl.popupCalendardatepicker .head .yearstatic
{
	color : #ffffff;
	font : bold 12px "Malgun Gothic";
}
div.Calendar .datepicker .body .weekband
{
	background : #e8e8e8;
}
.DatePickerControl.popupCalendardatepicker .body .weekband
{
	background : #e8e8e8;
}
div.Calendar .calendarspindownbutton
{
	background : teal;
}
div.Calendar .calendarspinupbutton
{
	background : pink;
}
div.Grid
{
	border : 1px solid #9c9c9c;
	background : #ffffff;
}
div.Grid .head .row .cell
{
	background : #555a5e;
	color : #ffffff;
	border : 1px solid lightgray;
}
div.Grid .head .row .cell > .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
div.Grid .body .row .cell
{
	background : #ffffff;
	border : 1px solid lightgray;
}
div.Grid .body .row .cell.oddcell
{
	background : #f7f7f7;
}
div.Grid .summary .row .cell
{
	background : #aaacae;
	color : #ffffff;
	font : bold 12px "Malgun Gothic";
	border : 1px solid lightgray;
}
div.Grid .summary .row .cell > .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
div.GridCellControl .cellbutton
{
	border : 1px solid teal;
	background : darkseagreen;
}
div.Grid.grd_WF_HeadP .head .row .cell
{
	background : purple;
}
div.Grid .body .row .cell.cell_WF_BodyY.dummy.dummy.dummy
{
	background : yellow;
}
div.Grid .body .row .cell.cell_WF_BodyY.dummy.dummy.dummy.oddcell
{
	background : yellow;
}
div.Grid .body .row .cell.cell_WF_BtnB.dummy.dummy.dummy .cellbutton
{
	background : blue;
}
div.GridCellControl .celledit
{
	border : 1px solid #9c9c9c;
	background : #ffffff;
}
div.Grid .body .row .cell.cell_WF_Ess.dummy.dummy.dummy .celledit
{
	border : 1px solid orangered;
	background : #faedeb;
}
div#nexacontainer .Button[status=mouseover]
{
	border : 1px solid #f44528;
}
div#nexacontainer .Button[status=focused]
{
	border : 1px solid #f44528;
}
div#nexacontainer .Calendar .datepicker .body .dayitem[status=mouseover]
{
	background : #e8e8e8;
}
#nexacontainer .DatePickerControl.popupCalendardatepicker .body .dayitem[status=mouseover]
{
	background : #e8e8e8;
}
div#nexacontainer .Grid .body .row .cell[status=mouseover]
{
	background : #fff7f6;
}
div#nexacontainer .Grid .body .row .cell.oddcell[status=mouseover]
{
	background : #fff7f6;
}
div#nexacontainer .Button[userstatus=pushed]
{
	border : 1px solid #f44528;
	background : #f44528;
	color : #ffffff;
}
div#nexacontainer .Calendar .datepicker .body .dayitem[userstatus=trailingday]
{
	color : darkgray;
}
#nexacontainer .DatePickerControl.popupCalendardatepicker .body .dayitem[userstatus=trailingday]
{
	color : darkgray;
}
div#nexacontainer .Calendar .datepicker .body .dayitem[userstatus=saturday]
{
	color : blue;
}
#nexacontainer .DatePickerControl.popupCalendardatepicker .body .dayitem[userstatus=saturday]
{
	color : blue;
}
div#nexacontainer .Calendar .datepicker .body .dayitem[userstatus=sunday]
{
	color : red;
}
#nexacontainer .DatePickerControl.popupCalendardatepicker .body .dayitem[userstatus=sunday]
{
	color : red;
}
div#nexacontainer .Calendar .datepicker .body .dayitem[userstatus=selected]
{
	color : #ffffff;
	background : #cf2d06;
	font : bold 12px "Malgun Gothic";
}
#nexacontainer .DatePickerControl.popupCalendardatepicker .body .dayitem[userstatus=selected]
{
	color : #ffffff;
	background : #cf2d06;
	font : bold 12px "Malgun Gothic";
}
div#nexacontainer .Calendar .datepicker .body .dayitem[userstatus=today]
{
	color : #ffffff;
	background : #f17158;
}
#nexacontainer .DatePickerControl.popupCalendardatepicker .body .dayitem[userstatus=today]
{
	color : #ffffff;
	background : #f17158;
}
div#nexacontainer .Calendar .datepicker .body .weekitem[userstatus=saturday]
{
	color : blue;
}
#nexacontainer .DatePickerControl.popupCalendardatepicker .body .weekitem[userstatus=saturday]
{
	color : blue;
}
div#nexacontainer .Calendar .datepicker .body .weekitem[userstatus=sunday]
{
	color : red;
}
#nexacontainer .DatePickerControl.popupCalendardatepicker .body .weekitem[userstatus=sunday]
{
	color : red;
}
div#nexacontainer .Grid .body .row .cell[userstatus=selected]
{
	background : #f17158;
}
div#nexacontainer .Grid .body .row .cell.oddcell[userstatus=selected]
{
	background : #f17158;
}
div#nexacontainer .Button[status=disabled]
{
	opacity : 0.5;
}
